@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #root {
    height: 100%;
    overflow: hidden;
  }

  body {
    background-color: #1A1A2E;
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    touch-action: manipulation;
  }
}

@layer utilities {
  .no-select {
    -webkit-user-select: none;
    user-select: none;
  }
}
